<IfModule mod_rewrite.c>
RewriteEngine On
Rewritebase /31000sorties/
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^(.*) /31000sorties/index.html [NC,L]
</IfModule>